* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --text-color: #FFFFFF;
  --bg: #000000;
  --bg-button:  rgba(41, 41, 46, 1);
  --bg-button-hover: #0A3442;
  --bg-slider: #C4C4CC;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;

  display: grid;
  min-height: 100vh;

  background: var(--bg);
}

.mode-default {
  display: flex;
  
  position: fixed;
  align-self: start;
  justify-self: end;

  margin: 3rem;
}

main {

  display: flex;
  align-self: center;
  justify-self: center;
  
  align-items: center;

}

.hide {
  display: none;
}

#counter {
  width: 42.1rem;
  text-align: center;
}

#timer {
  font-size: clamp(4rem, 4rem + 10vw, 8.8rem);

  color: var(--text-color);

  display: flex;
  justify-content: center;
  /*border: 1px solid red;*/
}

#sounds {
  width: 29rem;
  height: 15rem;
   
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  gap: 1rem;

  margin-top: -20px;
}

#cards {
  display: flex;

  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;

}

.rain,
.fireplace {
  margin-left: -40px;
}

.forest,
.rain,
.coffee-shop,
.fireplace {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: start;

  width: 9rem;
  height: 10rem;

  border-radius: 24px;
  background-color: var(--bg-button);
}

.forest svg,
.rain svg,
.coffee-shop svg,
.fireplace svg {
  width: clamp(3.2rem, 2rem + 12vw, 8.4rem);
  margin-top: -2.5rem;
  margin-bottom: -2rem;
}

button  {
  background-color: transparent;
  border: none;

  cursor: pointer;
  
}

#cards button:hover{
  background-color: var(--bg-button-hover);
}

/* -----VOLUME------*/

.slidecontainer {
  margin-left: -85px;
}

.slider {
  -webkit-appearance: none;
  width: 50%;
  height: .5rem;
  border-radius: 5rem;  
  background: var(--bg-slider);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-bottom: 1.5rem;
 
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%; 
  background: var(--text-color);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%; 
  background: var(--text-color);
  cursor: pointer;
}

p {
  /*border: 1px solid red;*/
  text-align: center;

  display: flex;

  width: 19rem;
  height: 2rem;
  margin-left: -50px;

  color: #02799D;
}


button svg {
  width: clamp(3.2rem, 2rem + 12vw, 6.4rem);
}

footer {
  align-self: end;
  justify-self: end;

  padding: 0 4rem 3.2rem;
}

/*TOGLEE*/

.toggle {
  display: flex;
}

input[type=checkbox]{
  height: 0;
  width: 0;

  visibility: hidden;
}

label {
  margin: auto;
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: black;
  float: right;
  border-radius: 100px;
  position: relative;
}

label::after{
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background-color: blueviolet;
}

input:checked + label::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 25px;
}

@media (max-width: 700px) {

  body {
    min-width: 10vw;
    justify-content: center;
  }

  main {    
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #counter {
    padding: auto;
  }

  #sounds {
    width: 2rem;
    height: 5rem;
     
    display: flex;
    align-self: center;

    margin-left: 9rem;
    margin-top: 2rem;
  }

}


@-moz-document url-prefix() {
  #sounds {
    width: 35rem;
  }

  .rain,
  .fireplace {
    margin-left: -80px;
  }

  .slider {
    width: 40%;
  }

  p {
    margin-left: -85px;
  }
  
}